# Python
__pycache__/
*.py[cod]
*$py.class
# Virtual environments
venv/
.venv/

# Django migrations
*.sqlite3
*.log
media/
staticfiles/

# Environment variables
.env

# Docker
.docker/

# VS Code settings
.vscode/
*.swp
# OS-specific files
.DS_Store
Thumbs.db