ersion: '3.8'

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=django_db
      - POSTGRES_USER=django_user
      - POSTGRES_PASSWORD=HM31764713DB

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8001:8000"
    depends_on:
      - db
    environment:
      - DATABASE_HOST=db  # settings.py の os.environ.get を指定
    #  - DATABASE_URL=postgres://your_user_name:your_password@db:5432/your_db_name

volumes:
  postgres_data: