{% extends "homepage/base.html" %}
{% load static %}

{% block title %}多肉植物と陶芸 - My homepage{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2>多肉植物とサボテン　Succulents and cacti</h2>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div>
                <img alt="photo1" src="{% static 'homepage/images/1-170621.jpg' %}" class="img-fluid" style="margin-top: 20px;">
                <img alt="photo5" src="{% static 'homepage/images/5-190513.jpg' %}" class="img-fluid" style="margin-top: 77px;">
                <img alt="photo9" src="{% static 'homepage/images/9-201012.jpg' %}" class="img-fluid" style="margin-top: 24px;">
                <img alt="photo130" src="{% static 'homepage/images/13-250227.jpg' %}" class="img-fluid" style="margin-top: 20px;">
                <img alt="photo16" src="{% static 'homepage/images/16-220711.jpg' %}" class="img-fluid" style="margin-top: 20px;">
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <img alt="photo2" src="{% static 'homepage/images/2-170717.jpg' %}" class="img-fluid" style="margin-top: 20px;">
                <img alt="photo6" src="{% static 'homepage/images/6-170613.jpg' %}" class="img-fluid" style="margin-top: 79px;">
                <img alt="photo10" src="{% static 'homepage/images/10-201012.jpg' %}" class="img-fluid" style="margin-top: 44px;">
                <img alt="photo131" src="{% static 'homepage/images/13-180526.jpg' %}" class="img-fluid" style="margin-top: 20px;">
                <img alt="photo17" src="{% static 'homepage/images/17-250227.jpg' %}" class="img-fluid" style="margin-top: 40px;">
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <img alt="photo3" src="{% static 'homepage/images/3-170717.jpg' %}" class="img-fluid" style="margin-top: 20px;">
                <img alt="photo7" src="{% static 'homepage/images/7-180501.jpg' %}" class="img-fluid" style="margin-top: 20px;">
                <img alt="photo11" src="{% static 'homepage/images/11-250227.jpg' %}" class="img-fluid" style="margin-top: 20px;">
                <img alt="photo14" src="{% static 'homepage/images/14-231211.jpg' %}" class="img-fluid" style="margin-top: 30px;">
                <img alt="photo18" src="{% static 'homepage/images/18-230614.jpg' %}" class="img-fluid" style="margin-top: 130px;">
            </div>
        </div>
        <div class="col-md-3">
            <div>
                <img alt="photo4" src="{% static 'homepage/images/4-170221.jpg' %}" class="img-fluid" style="margin-top: 20px;">
                <img alt="photo8" src="{% static 'homepage/images/8-181213.jpg' %}" class="img-fluid" style="margin-top: 20px;">
                <img alt="photo12" src="{% static 'homepage/images/12-221021.jpg' %}" class="img-fluid" style="margin-top: 20px;">
                <img alt="photo15" src="{% static 'homepage/images/15-171107.jpg' %}" class="img-fluid" style="margin-top: 20px;">
                <img alt="photo19" src="{% static 'homepage/images/19-250227.jpg' %}" class="img-fluid" style="margin-top: 20px;">
                <img alt="photo20" src="{% static 'homepage/images/20-210425.jpg' %}" class="img-fluid" style="margin-top: 20px;">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h2>陶芸　Ceramics</h2>
    </div>
    <div class="col-12">
        <p>多肉植物たちの植木鉢を作るための陶芸...</p>
        <p>貴重な粘土を可塑性をなくす形で消費している罪悪感</p>
    </div>
    <div class="col-md-11">
        <img alt="photo21" src="{% static 'homepage/images/陶芸250228.jpg' %}" class="img-fluid">
    </div>
</div>
{% endblock %}
